<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="books">Livres</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="holders">Holders</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="auth/signup" *ngIf="!isAuth">Créer un compte</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="auth/signin" *ngIf="!isAuth">Connexion</a>
      </li>
      <li routerLinkActive="active">
        <a *ngIf="isAuth" (click)="onSignOut()">Deconnexion</a>
      </li>
    </ul>
  </div>
</nav>
