<div class="row">
  <div class="col-xs-12">
    <h2>Vos livres</h2>
    <div class="list-group" *ngFor="let book of books; let i = index">
      <button class="list-group-item" (click)="onViewBook(i)">
        <h3 class="list-group-item-heading">
          {{ book.title }}
          <button
            class="btn btn-default pull-right"
            (click)="onDeleteBook(book)"
            *ngIf="showremove"
          >
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h3>
        <ng-content select="select"></ng-content>

        <p class="list-group-item-text">{{ book.author }}</p>
      </button>
    </div>
    <button class="btn btn-primary" *ngIf="showBtn" (click)="onNewBook()">
      Nouveau livre
    </button>
    <ng-content select="button"></ng-content>
  </div>
</div>
