<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Taken ?</th>
      <th scope="col">Holder By</th>
      <th scope="col">Reserve</th>
    </tr>
  </thead>
  <tbody *ngFor="let book of books">
    <tr *ngIf="book.holderBy == id">
      <th scope="row">{{ book.author }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.taken }}</td>
      <td>{{ book.holderBy }}</td>
      <td>
        <button class="btn btn-danger" (click)="onClick(book)">
          Release
        </button>
      </td>
    </tr>
  </tbody>
</table>
