<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="signUpForm.invalid"
      >
        Créer Mon Compte
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
