<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Books</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let holder of holders">
      <th scope="row">{{ holder.id }}</th>
      <td>{{ holder.name }}</td>
      <td>
        <button
          class="btn btn-dark"
          [routerLink]="['reservedbooks', holder.id]"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" routerLink="allofbooks">All Of Books</button>
<router-outlet></router-outlet>
