<app-book-list [showBtn]="showBtn" [showremove]="showremove">
  <button class="btn btn-warning">Associate</button>

  <select>
    <option>...</option>
    <option value="1">Alex</option>
    <option value="2">Joe </option>
    <option value="3">Jessica</option>
  </select>
</app-book-list>
